In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor

In [7]:
os.listdir()

['Other files',
 '.DS_Store',
 '.ipynb_checkpoints',
 'USA_cars_datasets.csv',
 'vehicles.csv',
 'Mod A.ipynb']

In [3]:
df = pd.read_csv("USA_cars_datasets.csv")

In [4]:
df.columns

Index(['Unnamed: 0', 'price', 'brand', 'model', 'year', 'title_status',
       'mileage', 'color', 'vin', 'lot', 'state', 'country', 'condition'],
      dtype='object')

In [5]:
df = pd.read_csv("USA_cars_datasets.csv", index_col = 0)

In [6]:
df.columns

Index(['price', 'brand', 'model', 'year', 'title_status', 'mileage', 'color',
       'vin', 'lot', 'state', 'country', 'condition'],
      dtype='object')

In [77]:
df.head()

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left

In [78]:
df.iloc[15:20]

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
15,12710,gmc,door,2017,clean vehicle,25747.0,white,1gks2gkc6hr328389,167692497,california,usa,20 hours left
16,5200,kia,forte,2018,clean vehicle,46194.0,blue,3kpfk4a77je198723,167801757,north carolina,usa,2 days left
17,16500,buick,encore,2018,clean vehicle,20002.0,red,kl4cj1sb6jb688844,167763275,tennessee,usa,22 hours left
18,5210,ford,mpv,2017,clean vehicle,35714.0,white,2fmpk3j95hbb73607,167656124,texas,usa,2 days left
19,38100,ford,door,2013,clean vehicle,54380.0,gray,1ft8w3dt5deb68569,167753923,virginia,usa,22 hours left

In [79]:
df.describe()

              price         year       mileage           lot
count   2499.000000  2499.000000  2.499000e+03  2.499000e+03
mean   18767.671469  2016.714286  5.229869e+04  1.676914e+08
std    12116.094936     3.442656  5.970552e+04  2.038772e+05
min        0.000000  1973.000000  0.000000e+00  1.593488e+08
25%    10200.000000  2016.000000  2.146650e+04  1.676253e+08
50%    16900.000000  2018.000000  3.536500e+04  1.677451e+08
75%    25555.500000  2019.000000  6.347250e+04  1.677798e+08
max    84900.000000  2020.000000  1.017936e+06  1.678055e+08

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2499 entries, 0 to 2498
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         2499 non-null   int64
 1   brand         2499 non-null   object
 2   model         2499 non-null   object
 3   year          2499 non-null   int64
 4   title_status  2499 non-null   object
 5   mileage       2499 non-null   float64
 6   color         2499 non-null   object
 7   vin           2499 non-null   object
 8   lot           2499 non-null   int64
 9   state         2499 non-null   object
 10  country       2499 non-null   object
 11  condition     2499 non-null   object
dtypes: float64(1), int64(3), object(8)
memory usage: 253.8+ KB

In [68]:
df_dummies = pd.get_dummies(df, columns = ["brand", "model", "title_status", "color"])
df_dummies = df_dummies.drop(columns=["vin", "state", "country", "condition"],axis = 1)

### Note: this code is testing on the training data!  We will learn later how to fix this.

In [69]:
X = df_dummies.drop(columns = ["price"], axis = 1)
y = df_dummies.price

In [85]:
"price" in X.columns

False

In [70]:
rf = RandomForestRegressor()
rf.fit(X, y)
rf.predict(X.iloc[0:5])

array([ 5932.06,  4255.24,  5695.9 , 20283.2 , 27797.11])

In [71]:
y.iloc[0:5]

0     6300
1     2899
2     5350
3    25000
4    27700
Name: price, dtype: int64